spring:
  application:
    name: stock_trading_engine

  datasource:
    url: jdbc:postgresql://localhost:5432/stock_db
    username: postgres
    password: 1411
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  task:
    execution:
      pool:
        core-size: 4
        max-size: 8
        queue-capacity: 100

server:
  port: 8080

logging:
  level:
    com.stock_trading_engine: INFO
    org.springframework.messaging: DEBUG
